.header {
  font-style: italic;
  font-size: large;
}

a {
  color: blue;
  font-size: bold;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: red;
}

p {
  font-style: italic;
}

Body {
  margin-left: 5px;
  background-color: rgb(192, 194, 196);
}
